<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use the google font named silkscreen -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <title>TAMI Hacknights - Homepage</title>
    <style>
        /* font silkscreen */
        body {
            font-family: 'Silkscreen', monospace;
            margin: auto;
            max-width: 100ch;
            padding: 1ch 2ch;
        }

    </style>
</head>
<body>
    <h1>TAMI Hacknight - Challenges</h1>
    <p><b style="color:blue">SQL</b> Web - Login page</p>
    <p>http://{{local_ipv4}}:8001</p>
    <p>Goal: log in as admin user to win</p>
    <br>
    <p><b style="color:green">XSS</b> Web - Blog Post</p>
    <p>http://{{local_ipv4}}:8003</p>
    <p>Goal: post a comment with an XSS payload, have fun</p>
    <br>
    <p><b style="color:blue">SQL</b> Web - Twitter Clone</p>
    <p>http://{{local_ipv4}}:8002</p>
    <p>Goal: find the hidden database table</p>
    <br>
    <p><b style="color:blue">SQL</b>/<b style="color:orange">Gamehacking</b> Minecraft - Minigame Hacking</p>
    <p>minecraft java 1.19.3 {{local_ipv4}}:25565</p>
    <p>Goal: feed pigs 1 million carrots</p>
</body>
</html>